body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: white; 
}

a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease;
}

a:hover {
  color: white;
}

.navbar {
  background-color: black; 
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px black;
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  font-weight: bold;
  color: #007bff; 
  font-size: 16px; /* Изменено с 1rem */
}

.navbar a:hover {
  color: white;
}

.team-header {
  text-align: center;
  margin-bottom: 40px;
}

.team-logo {
  width: 150px;
  margin-bottom: 20px;
  border-radius: 50%;
  margin-top: 40px;
}

.team-header h1 {
  font-size: 40px; /* Изменено с 2.5rem */
  color: #007bff;
}

.team-header p {
  font-size: 19px; /* Изменено с 1.2rem */
  color: lightslategray; 
}

.team-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.team-member {
  display: flex;
  align-items: center;
  gap: 20px;
  background: white; 
  border: 1px solid #007bff; 
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px black;
}

.normal-layout {
  flex-direction: row;
}

.reversed-layout {
  flex-direction: row-reverse;
}

.member-photo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #007bff; 
  object-fit: cover;
}

.member-info h2 {
  font-size: 24px; /* Изменено с 1.5rem */
  color: white;
}

.team-role {
  font-weight: bold;
  color: #007bff; 
  margin-top: 5px;
}

.team-description {
  margin: 10px 0;
  color: black; 
}

.team-projects h3 {
  font-size: 19px; /* Изменено с 1.2rem */
  margin-bottom: 10px;
  color: #007bff;
}

.team-projects ul {
  list-style: none;
  padding: 0;
}

.team-projects li {
  margin: 5px 0;
  color: black;
}

.footer {
  background-color: #111; 
  color: lightgray;
  padding: 20px;
  margin-top: 40px;
  border-top: 1px solid #333;
}

.footer-top {
  text-align: center;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.footer-top p {
  color: lightgray; 
}

.social-icons a {
  color: #007bff; 
  margin: 0 10px;
  font-size: 19px; /* Изменено с 1.2rem */
}

.social-icons a:hover {
  color: white;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-column h4 {
  color: #007bff;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li a {
  color: #007bff;
}

.footer-column ul li a:hover {
  color: white;
}

.footer-bottom {
  text-align: center;
  font-size: 12px;
  border-top: 1px solid #333;
  padding-top: 10px;
  color: lightgray;
}
